* {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color:rgba(211, 211, 211, 0.466);
    
}


.active {
    color: darkgreen;
}