* {
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    background-color:rgba(211, 211, 211, 0.466);
    height: 35px;
    align-items: center;
}


.active {
    color: darkgreen;
}

.home {
    position: absolute;
    right: 50%;
}

.dog {
    position: absolute;
    right: 40%;
}

.multipleDogs {
    position: absolute;
    right: 30%;
}
.cat {
    position: absolute;
    right: 20%;
}

.multipleCats {
    position: absolute;
    right: 10%
}